<div class="flexx">
  <div class="typelist shadow">
    <h4>Список типов</h4>
    <button mat-stroked-button color="primary" class="adds" style="color:dodgerblue"> <i class="material-icons"> add</i> Создать новый тип</button>
    <table class="table left_table">
        <tbody>
          <tr style="cursor:pointer" class="left_table" >
            <td class="left_table asd"> <i class="material-icons"> description</i>azazazaz</td> <td class="left_table table_btns"> 
                <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
                <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
                <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
                
            </td></tr>
           <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>zxcvb</td><td class="left_table table_btns"> 
              <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
              <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
              <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
              
          </td></tr>
           <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>qwerty</td><td class="left_table table_btns"> 
              <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
              <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
              <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
              
          </td></tr>
          
        </tbody>
    </table>
  </div>



  <div class="listignore shadow">
      <h4>Список игнорирования проекта</h4>
      <mat-select matNativeControl placeholder="Выберите.." value="1" class="drop">
          <mat-option value="1">
            что тут?
          </mat-option>
          <mat-option value="2">
              Papak
            </mat-option>
        </mat-select>

        <button mat-stroked-button color="primary" class="adds" style="color:dodgerblue"> <i class="material-icons"> add</i> Тип в список игнорирования</button>

    <table class="table left_table">
        <tbody>
          <tr style="cursor:pointer" class="left_table" >
            <td class="left_table asd2"> <i class="material-icons"> description</i>azazazaz</td> <td class="left_table table_btns" style="width:70px"> 
                <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
                
            </td></tr>
           <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>zxcvb</td><td class="left_table table_btns" style="width:70px"> 
              <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
              
          </td></tr>
           <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>qwerty</td><td class="left_table table_btns" style="width:70px"> 
              <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
              
          </td></tr>
          
        </tbody>
    </table>
  </div>
</div>