<div class="flex">
  <div class="lbls">Текущая папка<br>
  Директория папки</div>
    <div class="btns">
        <button mat-stroked-button color="primary"><i class="material-icons">
            note_add
            </i></button>
            <button mat-stroked-button color="primary"><i class="material-icons">
                library_add
                </i></button>
                <button mat-stroked-button color="primary"><i class="material-icons">
                    create_new_folder
                    </i></button>
                    <button mat-stroked-button color="primary"><i class="material-icons">
                        launch
                        </i></button>
    </div>
</div>

<table class="table left_table">
  <tbody>
    <tr style="cursor:pointer" class="left_table" >
      <td class="left_table" style="width:100%"> <i class="material-icons"> description</i>azazazaz</td> <td class="left_table table_btns"> 
          <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
          <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
          <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
          
      </td></tr>
     <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>zxcvb</td><td class="left_table table_btns"> 
        <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
        <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
        <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
        
    </td></tr>
     <tr style="cursor:pointer" class="left_table" > <td class="left_table"> <i class="material-icons"> description</i>qwerty</td><td class="left_table table_btns"> 
        <button mat-stroked-button color="primary"><i class="material-icons"> visibility_off</i></button>  
        <button mat-stroked-button color="primary"><i class="material-icons"> edit</i></button>
        <button mat-stroked-button color="primary"><i class="material-icons"> delete</i></button>
        
    </td></tr>
    
  </tbody>
</table>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
<p>
  current-folder works!
</p>
