<div class="modal">
  <div class="header"> Создание папки</div>
  <div class="description"> В корневой директории</div>
<div class="content"> 
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Название папки">
      </mat-form-field>
      <mat-form-field class="example-full-width">
  <mat-select matNativeControl placeholder="Добавьте расширения" value="1" class="drop" multiple>
      <mat-option value="1">
        .gid
      </mat-option>
      <mat-option value="2">
          .exe
        </mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div class="footer">
  <button mat-raised-button color="primary">Создать</button>
  <button mat-raised-button color="secondary" (click)="onNoClick()">Отменить</button>
</div>
</div>